body {
    padding: 10px;
}

body.not-found h1 {
    color: red;
    font-size: 32px;
}

.all-urls li {
    list-style: none;
}

p.error {
    background: red;
    display: inline-block;
    padding: 3px;
}